body{
    margin: 0;
    background: darkgray;
    overflow: hidden;
    text-align: center;
}

#myCanvas{
    background: lightgray;
}

#VerticalButtons{
    position: absolute;
    right: 0;
    top: 50vh;
}